form {
  font-size: 20px;
  display: flex;
  justify-content: center;
  input {
    width: 20%;
    min-width: 200px;
    height: 30px;
    padding: 0.4em 1em;
    outline: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
  }
  button {
    width: 40px;
    background-color: #3b414b;
    border: none;
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: 2s;
    &:hover {
      background-color: #6d778a;
    }
  }
}
.question {
  display: block;
}
.result-search {
  display: none;
}
